<link
  href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<link href="/src/styles.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/../../app/slick/slick.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="/../../app/slick/slick-theme.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
/>

<body>
  <header class="d-flex flex-wrap cst_header form_header">
    <a
      href="/planDefinition"
      class="d-flex align-items-center link-body-emphasis text-decoration-none"
    >
      <img
        class="logo"
        src="../../assets/images/logo-white.png"
        alt="white-logo"
      />
    </a>
    <h3>Implementation Guide</h3>
    <button type="button" class="btnlight back-btn" (click)="backToHome()">
      Back
    </button>
  </header>

  <div class="main-content">
    <div class="blue-header">
      <div class="file-name me-4">

        <a>
          {{ capitalizedFirstName }}
          <span>{{ fileName }}</span>
        </a>
    </div>
<!-- 
      <ul class="list-group list-group-horizontal" style="overflow-y: scroll;">
        <li class="list-group-item p-2 me-2 " *ngFor="let pd of planDefinition;">
          {{ pd.resource.id }}
        </li>
      </ul> -->
  <div class="mx-auto ">
    <!-- <div class="mx-auto">
      
      <label>Select Plan Definition : </label>
    </div> -->
    <div class="position-absolute">
      <p-dropdown (onChange)="getPdData()" placeholder="Select Plan Definition :" [(ngModel)]="selectedData" [options]="pdIds"  autoWidth="false" [style]="{'width':'100%'}" appendTo="body" >
      </p-dropdown>
    </div>
  </div> 
    </div>
    <div class="px-3 guide-tab">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home"
            type="button"
            role="tab"
            aria-controls="home"
            aria-selected="false"
            routerLinkActive="active"
            routerLink="planDefinition"
          >
            Graph
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile"
            type="button"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            routerLinkActive="active"
            routerLink="actions"
            *ngIf="actionSize>0"
          >
            Actions
            <span class="digit">{{ actionSize }}</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#contact"
            type="button"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            routerLinkActive="active"
            routerLink="activityDefinition"
            *ngIf="adData.length>0"
          >
            Activity Definition<span class="digit">{{
              adData.length   }}</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            *ngIf="resourceDataLength.Questionnaire > 0"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#contact"
            type="button"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            routerLinkActive="active"
            routerLink="questionnaire"
          >
            Questionnaire<span class="digit">{{ resourceDataLength.Questionnaire }}</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#contact"
            type="button"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            routerLinkActive="active"
            routerLink="structureMap"
            *ngIf="resourceDataLength.StructureMap>0"
          >
            Structure Map<span class="digit" >{{
              resourceDataLength.StructureMap     }}</span>
          </button>
        </li>
        <!-- <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
              type="button" role="tab" aria-controls="contact" aria-selected="false"    routerLinkActive="active"
              routerLink="targets">Target from structure
              map</button>
      </li> -->
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#contact"
            type="button"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            routerLinkActive="active"
            routerLink="structureDefinition"
            *ngIf="resourceDataLength.StructureDefinition>0"
          >
            Structure Definition<span
              class="digit"
              >{{ resourceDataLength.StructureDefinition }}</span
            >
          </button>
        </li>
        <li class="px-3 nav-item" role="presentation">
          <button
            class="nav-link"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#contact"
            type="button"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            routerLinkActive="active"
            routerLink="library"
            *ngIf="libraryData.length>0"
          >
            Library<span class="digit" >{{
              libraryData.length
            }}</span>
          </button>
        </li>
        <li class="px-3 nav-item" role="presentation">
          <button
            class="nav-link"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#contact"
            type="button"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            routerLinkActive="active"
            
            *ngIf="deviceData.length>0"
          >
            Device<span class="digit" >{{
              deviceData.length
            }}</span>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#contact"
            type="button"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            routerLinkActive="active"
            routerLink="valueSet"
            *ngIf="resourceDataLength.ValueSet>0"
          >
            Value Set<span class="digit" >{{
              resourceDataLength.ValueSet 
                        }}</span>
          </button>
        </li>
        <li class="px-3 nav-item" role="presentation">
          <button
            class="nav-link"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#contact"
            type="button"
            role="tab"
            aria-controls="contact"
            aria-selected="false"
            routerLinkActive="active"
            routerLink="codeSystem"
            *ngIf="resourceDataLength.CodeSystem>0"
          >
            Code System<span class="digit">{{ resourceDataLength.CodeSystem }}</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</body>
