<div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 d-lg-block d-none p-0">
        <div class="upload_leftside">
          <img class="upload_img" src="assets/images/image.png" alt="image" />
          <div class="upload_text">
            <h1>Lorem ipsum dolor sit amet</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
              cursus dictum semper. Lorem ipsum dolor sit amet, consectetur
              adipiscing eli
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-12">
        <div class="upload_rightside">
          <img class="logo" src="assets/images/logo.png" alt="image" />
          <div class="upload_form_container">
            <h1>Implementation Guide visualization</h1>
            <div class="upload-box">
              <img src="assets/images/fileupload.png" />
              <div
              (drop)="onFileDrop($event)"
              (dragover)="onDragOver($event)"
              (dragleave)="onDragLeave($event)"
              >
              <div 
              class="p-1 mb-3 bg-body rounded"
              [ngClass]="{ dragover: isDragOver }"
              >
              <form (ngSubmit)="onSubmit()">  
                <span>Drag & Drop your files here</span>
                <br>
                <span>OR</span>
                <div class="upload-btn-wrapper">
                  <button class="btn">Browse</button>
                  <input
                    type="file"
                    name="myfile"
                    (change)="onFileSelected($event)"
                  />
                </div>
                <p style="color: blue;">{{fileName}}</p>
                <br>
                <span>Supported file type .json </span>
                <button class="btn upload_btn" type="submit">UPLOAD</button>
              </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  