/* .container {
  width: 100%;
  border: 1px solid black;
}

.left {
  width: 20%;
  height: 78.5vh;
  border-right: 1px solid black;
  float: left;
}
.right {
  width: 80%;
  float: left;
}
.json-data{
  height: 610px;
  width: 100%;
  background-color: white;
} */
/* for active tab in particular menu */
.tab-active {
  background: #e4203b;
  color: #fff;
}
