<div class="float-container">

    <div class="left p-2 ScrollStyle">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let action of actions;" [ngClass]="{ 'tab-active': action === currentAction }" (click)="openAction(action)">
        {{action.title ? action.title : action.description}}
        </li>
      </ul>
  
  </div>
  <div class="right p-2 ScrollStyle">
    <div class="json-data p-2 mx-auto">
      <div>
        <pre>{{jsonData | json}}</pre>
      </div>
    </div>
  </div>
  
</div>
  