<div class="float-container">

    <div class="left p-2 ScrollStyle">
      <ul class="list-group">
      <li class="list-group-item" *ngFor = "let resource of resourceData" [ngClass]="{ 'tab-active': selectedId == resource.resource.id }" (click)="openResource(resource.resource.id)">
        {{resource.resource.id ? resource.resource.id : resource.resource.title}}
      </li>
    </ul>
  
  </div>
  <div class="right p-2 ScrollStyle">
    <div class="json-data p-2 mx-auto">
      <div>
        <pre>{{ jsonData | json}}</pre>
      </div>
    </div>
  </div>
  
  </div>
  