<div class="float-container">

  <div class="left p-2 ScrollStyle">
    <ul class="list-group">
    <li class="list-group-item" *ngFor="let ad of activityDefinition;" [ngClass]="{ 'tab-active': selectedId === ad.resource.id }" (click)="openAction(ad.resource.useContext?.[0].valueCodeableConcept.coding[0].display ? ad.resource.useContext?.[0].valueCodeableConcept.coding[0].display : ad.resource.id)">
      <!-- <a (click)="openAction(ad.resource.id)"> -->
        {{ad.resource.useContext?.[0].valueCodeableConcept.coding[0].display ? ad.resource.useContext?.[0].valueCodeableConcept.coding[0].display : ad.resource.id}}
      <!-- </a> -->
    </li>
    <!-- <li class="list-group-item" *ngFor="let ad of activityDefinition;"><a (click)="openAction(ad.resource.id)">{{ad.resource.id}}</a></li> -->
  </ul>
  <!-- <p></p> -->

</div>
<div class="right p-2 ScrollStyle">
  <div class="json-data p-2 mx-auto">
    <div *ngIf="currentActivityDefinition">
      <pre>{{currentActivityDefinition | json}}</pre>
    </div>
  </div>
</div>

</div>
