body {
  background: #d8f3dc;
}

li {
  background-color: #74c69d;
}

.btn-secondary {
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: #74c69d;
}

.bg-success {
  background-color: rgb(255, 0, 24);
}
