<div class="float-container">

  <div class="left p-2 ScrollStyle">
    <ul class="list-group">
    <li class="list-group-item" *ngFor="let sm of structureMap;" (click)="openAction(sm.resource.id)">
      <!-- <a (click)="openAction(sm.resource.id)"> -->
        {{sm.resource.name}}
      <!-- </a> -->
    </li>
  </ul>

</div>
<div class="right p-2 ScrollStyle">
  <div class="json-data p-2 mx-auto">
    <div *ngIf="currentStructureMap">
      <pre>{{currentStructureMap | json}}</pre>
    </div>
  </div>
</div>

</div>
