#graph1{
  zoom: 70%;
}
:root {
  --bg-primary: #CCCCFF;
}

.hw{
  height: 100vh;
  /* width: 100%; */
}
.overflow-x-auto{
  overflow-x: auto;
}
.graph{
  background: white;
  width: 97%;
  height: 580px;
}
/* .container {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
} */

/* Custom styles for the graph component */
/* .plan-definition {
    background-color: indigo;
    color: white;
  }

  .action {
    background-color: blue;
    color: white;
  }

  .activity-definition {
    background-color: green;
    color: white;
  }

  .questionnaire {
    background-color: yellow;
    color: black;
  }

  .structure-map {
    background-color: purple;
    color: white;
  }

  .target {
    background-color: orange;
    color: black;
  } */
