<div class="float-container">

  <div class="left p-2 ScrollStyle">
    <ul class="list-group">
    <li class="list-group-item" *ngFor="let code of codeSystem;" [ngClass]="{ 'tab-active': selectedId === code.code}" (click)="openAction(code.code)">
      <!-- <a (click)="openAction(code.code)"> -->
        {{code.display}}
      <!-- </a> -->
    </li>
  </ul>

</div>
<div class="right p-2 ScrollStyle">
  <div class="json-data p-2 mx-auto">
    <div *ngIf="currentCodeSystem">
      <pre>{{currentCodeSystem | json}}</pre>
    </div>
  </div>
</div>

</div>
